<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Angular JS Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/application.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/bootstrap.js"></script>
</head>
<body ng-app="calculator">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<div class="container main-comp" ng-controller="calculatorController"
     ng-style="{background: 'url(img/product-bgs/' + selectedProductName + '.jpg)'}">
    <div class="row">
        <div class="span8"></div>

        <ul class="nav nav-list span3 popout-container">
            <li class="nav-header">Ihr Produkt</li>
            <li class="navitem">
                <a ng-click="setOpenPopoutMenu('product_selection')">Produkt: {{product.name}}</a>

                <div class="well popout" ng-show="openPopoutMenu == 'product_selection'">
                    <ul>
                        <li ng-repeat="product in products">
                            <a href="#" ng-click="setProductName(product.name)">{{product.name}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navitem">
                <a ng-click="setOpenPopoutMenu('circulation_selection')">Auflage: 1000 Seiten</a>

                <div class="well popout" ng-show="openPopoutMenu == 'circulation_selection'">DIES IST EIN TEST</div>
            </li>
            <li class="navitem">
                <a popout-trigger>Versandart: Express</a>
            </li>

            <li class="nav-header">Ihre Konfiguration</li>
            <li class="navitem" ng-repeat="(parameterName, parameterValues) in product.parameters">
                <a class="popout-open" ng-click="setOpenPopoutMenu('param' + parameterName)">{{parameterName}}:
                    {{parameterValues[0]}}</a>

                <div class="well popout" ng-show="openPopoutMenu == 'param' + parameterName">
                    <ul>
                        <li ng-repeat="parameterValue in parameterValues">
                            {{parameterValue}}
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>

<div ng-view>


</div>

<script src="js/vendor/jquery-1.9.0.min.js"></script>
<script src="js/vendor/angular-1.0.5.js"></script>
<script src="js/vendor/angular-resource.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>
</html>
